In [3]:
print("hello")

hello

In [4]:
2+3

5

In [5]:
"string"+"2"

'string2'

In [6]:
2+2.1

4.1

In [7]:
for x in "lokesh":
    print(x)

l
o
k
e
s
h

In [8]:
fruit = ["apple", "bannana"]
for f in fruit:
    print(f)

apple
bannana

In [9]:
#sort array using bubble sort
arr = [1,3,4,3,5]
n = len(arr)
for i in range(0,n-1):
    for j in range(0, n-1):
        if arr[i] < arr[j]:
            tmp = arr[i]
            arr[i] = arr[j]
            arr[j] = tmp

for x in arr:
    print(x)

1
3
3
4
5

In [10]:
#swap in python
# i = 2
# j = 3
i, j = 2, 3
tmp = i
i = j
j = tmp

print(i, j)

3 2

In [11]:
#program on array
arr = [1,2,4]
for i in range(1,3):
    print(arr[i])

2
4

In [12]:
arr = [1,2,4]
print(arr[1])

2

In [13]:
#functions in python
def printMessage():
    print("hello world")

printMessage()

hello world

In [14]:
#add 2 numbers

i = 2 
j = 3
def addNumbers(i, j):
    return i+j;

print(addNumbers(i, j))


#in python return type is not required.

5

In [15]:
# number is even or odd

num = 23
def oddOrEven(num):
    if num%2 == 0:
        return "number is even"
    else:
        return "number is odd"

print(oddOrEven(num))

number is odd

In [16]:
#while loop
arr = [1,2,3]
x = 0
while x < len(arr):
    print(arr[x])
    x+=1

1
2
3

In [17]:
#python arrays
arr = [1,3,6,2,4,9]

arr.append(0)
arr.append(2)
print(arr)
arr.sort()
print(arr)
arr.pop(4)#4th position element will be deleted
print(arr)
arr.remove(4)# 4 will be deleted
print(arr)
print(arr.count(2))#count return the occurances of a number

[1, 3, 6, 2, 4, 9, 0, 2]
[0, 1, 2, 2, 3, 4, 6, 9]
[0, 1, 2, 2, 4, 6, 9]
[0, 1, 2, 2, 6, 9]
2

In [18]:
#List
list = ["orange", "apple", "dragonfruit"]
print(list)
list.append("banana")
print(list)
list.insert(3,"graps")
print(list)

['orange', 'apple', 'dragonfruit']
['orange', 'apple', 'dragonfruit', 'banana']
['orange', 'apple', 'dragonfruit', 'graps', 'banana']

In [19]:
#update value
list[4] = "kela"
print(list)

['orange', 'apple', 'dragonfruit', 'graps', 'kela']

In [20]:
#join list
list1 = [1, 3, 2, 4]
print(list+list1)

['orange', 'apple', 'dragonfruit', 'graps', 'kela', 1, 3, 2, 4]

In [21]:
#touple
tuple = ("lokesh", 1, 2, 2.3)
print(tuple)

('lokesh', 1, 2, 2.3)

In [22]:
#tuple twist
tuple = ("lokesh") #this is not tuple

print(type(tuple))

tuple1 = ("lokesh",) #if one element is there then must add comma
print(type(tuple1))

<class 'str'>
<class 'tuple'>

In [23]:
#touple method
thistuple = tuple(("lokesh","singh"))

print(thistuple)

TypeError: 'str' object is not callable

In [ ]:
#Dictionaries are used to store data values in key:value pairs.
dict = {
    "name" : "lokesh",
    "emailId" : "ashawat.lokesh@gmail.com",
    "mobileNo.": 8290048152
}

print(dict)

{'name': 'lokesh', 'emailId': 'ashawat.lokesh@gmail.com', 'mobileNo.': 8290048152}

In [ ]:
#access dist element
print(dict["name"])

lokesh

In [ ]:
#how to read csv file
import csv

with open("ages_newlines.csv", "r") as file:
    reader = csv.reader(file)
    next(reader) 
    for row in reader:
        print(row[1])

30
25

In [ ]:
import pandas as pd
# df = pd.read_csv('data.csv')
df = pd.read_csv('priceoverrideTemplate.csv')
   
df.head()

Empty DataFrame
Columns: [BPN, UPC, Rog/StoreId, FacilityType, OverridePrice, PriceStrtDate, PriceEndDate, Comment]
Index: []

In [1]:
class Car:
    def printCar(self):
        print("ferrari")





ob = Car()
ob.printCar()

ferrari